@model LivroCDF.Models.Livro

@{
    ViewData["Title"] = "Deletar Livro";
}

<h1>Deletar</h1>
@if (ViewData["ErroExclusao"] != null)
{
    <div class="alert alert-danger">
        <i class="bi bi-x-circle-fill"></i> @ViewData["ErroExclusao"]
    </div>
}
<h3>Você tem certeza que deseja excluir este livro?</h3>
<div class="alert alert-danger" role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>
    Atenção: Esta ação não poderá ser desfeita e pode afetar exemplares vinculados.
</div>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @* O "C" formata como moeda (R$) automaticamente *@
            @Model.Valor.ToString("C2")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir Definitivamente" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para Lista</a>
    </form>
</div>